@charset "utf-8"

main{background-color:'#65C6FF';}

h2,h3{font-family:'Roboto','sans-serif';
	 font-weight:'normal';}

p{font-family: 'Open Sans', 'sans-serif';}

#logo{font-weight:'normal'; 
  font-family: 'Shrikhand', 'cursive';
  background-color:'lightblue';
  text-align:'center';
  font-size:'54px';
  text-decoration:'none';}
